.labelAssetsClassChangeReport
{
	width:80px;
	float:left;
	text-align:left;
}
.textAssetsClassChangeReport
{
	width:120px;
	float:left;
	text-align:left;
}
.selectAssetsClassChangeReport
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogAssetsClassChangeReport
{
	width:108px;
	float:left;
	text-align:left;
}
.AssetsClassChangeReportColumn1
{
	width:250px;
	float:left;
}
.AssetsClassChangeReportColumn2
{
	width:250px;
	float:left;
}