.labelAssetsTransferReport
{
	width:80px;
	float:left;
	text-align:left;
}
.textAssetsTransferReport
{
	width:120px;
	float:left;
	text-align:left;
}
.selectAssetsTransferReport
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogAssetsTransferReport
{
	width:108px;
	float:left;
	text-align:left;
}
.AssetsTransferReportColumn1
{
	width:250px;
	float:left;
}
.AssetsTransferReportColumn2
{
	width:250px;
	float:left;
}
.AssetsTransferReportColumn2
{
	width:250px;
	float:left;
}