.labelPlotReport
{
	width:50px;
	float:left;
	text-align:left;
}
.textPlotReport
{
	width:100px;
	float:left;
	text-align:left;
}
.selectPlotReport
{
	width:106px;
	float:left;
	text-align:left;
}
.dialogPlotReport
{
	width:88px;
	float:left;
	text-align:left;
}
.PlotReportColumn1
{
	width:200px;
	float:left;
}
.PlotReportColumn2
{
	width:200px;
	float:left;
}