<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AutoTaskSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4239/WebService/AutoTask.asmx"
                binding="basicHttpBinding" bindingConfiguration="AutoTaskSoap"
                contract="AutoTaskService.AutoTaskSoap" name="AutoTaskSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="TimerIntervalMinute" value="3" />
  </appSettings>
</configuration>