.labelPasswordModifiyEntry
{
	width:80px;
	float:left;
	text-align:left;
}
.textPasswordModifiyEntry
{
	width:120px;
	float:left;
	text-align:left;
}
.selectPasswordModifiyEntry
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogPasswordModifiyEntry
{
	width:108px;
	float:left;
	text-align:left;
}