.labelWorkFlowList
{
	width:70px;
	float:left;
	text-align:left;
}
.textWorkFlowList
{
	width:100px;
	float:left;
	text-align:left;
}
.selectWorkFlowList
{
	width:100px;
	float:left;
	text-align:left;
}
.dialogWorkFlowList
{
	width:105px;
	float:left;
	text-align:left;
}
.WorkFlowListColumn1
{
	width:220px;
	float:left;
}
.WorkFlowListColumn2
{
	width:220px;
	float:left;
}
.labelWorkFlowEntry
{
	width:70px;
	float:left;
	text-align:left;
}
.textWorkFlowEntry
{
	width:152px;
	float:left;
	text-align:left;
}
.selectWorkFlowEntry
{
	width:164px;
	float:left;
	text-align:left;
}
.dialogWorkFlowEntry
{
	width:168px;
	float:left;
	text-align:left;
}
.WorkFlowEntryColumn1
{
	width:280px;
	float:left;
}
.WorkFlowEntryColumn2
{
	width:280px;
	float:left;
}
.WorkFlowEntryColumn3
{
	width:280px;
	float:left;
}