.labelAssetsUsesList
{
	width:100px;
	float:left;
	text-align:left;
}
.textAssetsUsesList
{
	width:100px;
	float:left;
	text-align:left;
}
.selectAssetsUsesList
{
	width:100px;
	float:left;
	text-align:left;
}
.dialogAssetsUsesList
{
	width:105px;
	float:left;
	text-align:left;
}
.AssetsUsesListColumn1
{
	width:220px;
	float:left;
}
.AssetsUsesListColumn2
{
	width:220px;
	float:left;
}
.labelAssetsUsesEntry
{
	width:100px;
	float:left;
	text-align:left;
}
.textAssetsUsesEntry
{
	width:120px;
	float:left;
	text-align:left;
}
.selectAssetsUsesEntry
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogAssetsUsesEntry
{
	width:108px;
	float:left;
	text-align:left;
}