.labelDepreciationRuleList
{
	width:100px;
	float:left;
	text-align:left;
}
.textDepreciationRuleList
{
	width:100px;
	float:left;
	text-align:left;
}
.selectDepreciationRuleList
{
	width:100px;
	float:left;
	text-align:left;
}
.dialogDepreciationRuleList
{
	width:105px;
	float:left;
	text-align:left;
}
.DepreciationRuleListColumn1
{
	width:220px;
	float:left;
}
.DepreciationRuleListColumn2
{
	width:220px;
	float:left;
}
.labelDepreciationRuleEntry
{
	width:100px;
	float:left;
	text-align:left;
}
.textDepreciationRuleEntry
{
	width:120px;
	float:left;
	text-align:left;
}
.selectDepreciationRuleEntry
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogDepreciationRuleEntry
{
	width:108px;
	float:left;
	text-align:left;
}