.labelEquityOwnerList
{
	width:100px;
	float:left;
	text-align:left;
}
.textEquityOwnerList
{
	width:100px;
	float:left;
	text-align:left;
}
.selectEquityOwnerList
{
	width:100px;
	float:left;
	text-align:left;
}
.dialogEquityOwnerList
{
	width:105px;
	float:left;
	text-align:left;
}
.EquityOwnerListColumn1
{
	width:220px;
	float:left;
}
.EquityOwnerListColumn2
{
	width:220px;
	float:left;
}
.labelEquityOwnerEntry
{
	width:100px;
	float:left;
	text-align:left;
}
.textEquityOwnerEntry
{
	width:120px;
	float:left;
	text-align:left;
}
.selectEquityOwnerEntry
{
	width:126px;
	float:left;
	text-align:left;
}
.dialogEquityOwnerEntry
{
	width:108px;
	float:left;
	text-align:left;
}